body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
body {
    background-color: #E4F1FE;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #cf000f;
    margin: 5px;
    border-radius:5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align:center;
    font-size:68px;
    padding:20px;
    color:#ffffff;
}
.box:hover {
        background-color: #f22613;
    }
.block {
    display: flex;
}
#content {
    position:absolute;
    top:30%;
    right:40%;
}
.score {
    font-size: 50px;
    color:#674172;
}
#xscore {
    position: absolute;
    left: 20%;
    top: 40%;
}
#oscore {
    position: absolute;
    right: 20%;
    top: 40%;
}
#draw {
    position: absolute;
    right: 50%;
    top: 10%;
}
#banner {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 42.5%;
}
